toil[cwl]
django>=2.1,<2.2
celery>=4.2,<4.3
django-celery-results
djangorestframework
gitpython
django-debug-toolbar
psycopg2-binary
cwl-utils
requests
ruamel.yaml<=0.15.97,>=0.12.4
astropy
APLpy
matplotlib
filemagic
