{% extends "base.html" %}

{% block content %}
    <h2>Repository #{{ object.id }} details</h2>

    <ul>
        <li>Name: {{ object.name }}</li>
        <li>url: {{ object.url }}</li>
        <li>Active branch: {{ object.active_branch }}</li>
    </ul>

    <h2>Actions</h2>

    <a href="{% url 'scheduler:repo_delete' object.id %}">
        <button type="button" class="btn btn-danger">Delete</button>
    </a>
    <a href="{% url 'scheduler:repo_update' object.id %}">
        <button type="button" class="btn btn-info">Update</button>
    </a>

    <!-- Example single danger button -->
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{ object.active_branch }}
        </button>
        <div class="dropdown-menu">
            {% for branch in object.branches %}
                <a class="dropdown-item" href="#">{{ branch }}</a>
            {% endfor %}
        </div>
    </div>

    <h2>Action history</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <th scope="col">moment</th>
            <th scope="col">state</th>
            <th scope="col">message</th>

            </thead>
            <tbody>
            {% for change in object.state_changes.all %}
                <tr>
                    <td>{{ change.moment }}</td>
                    <td>{{ change.get_state_display }}</td>
                    <td>{{ change.message }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>CWL files in repository</h2>

    {% if cwl_files %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <th scope="col">file</th>
                <th scope="col">actions</th>
                </thead>
                <tbody>
                {% for file in cwl_files %}
                    <tr>

                        <td>{{ file }}</td>
                        <td>
                            <a href="{% url 'scheduler:workflow_job' object.id file|urlencode:"" %}">
                                <button type="button" class="btn btn-success btn-sm">Run</button>
                            </a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Workflows.
    {% endif %}

    <h2>Repository content</h2>



    {% if ls %}
        <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapse{{ forloop.counter }}"
                aria-expanded="false" aria-controls="collapse">
            Show
        </button>

        <div class="collapse" id="collapse{{ forloop.counter }}">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <th scope="col">file</th>
                    <th scope="col">actions</th>
                    </thead>
                    <tbody>
                    {% for file in ls %}
                        <tr>

                            <td>{{ file }}</td>
                            <td>

                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        No Workflows.
    {% endif %}


{% endblock %}