{% extends "base.html" %}

{% block content %}
    <h2>Workflows</h2>

      {% if workflow_list %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <th scope="col">id</th>
                <th scope="col">repository</th>
                <th scope="col">CWL file</th>
                <th scope="col">added</th>
                <th scope="col">state</th>
                <th scope="col">actions</th>
                </thead>
                <tbody>
                {% for workflow in workflow_list %}
                    <tr>
                        <td><a href="{% url 'scheduler:workflow_detail' workflow.id %}">{{ workflow.id }}</a></td>
                        <td><a href="{% url 'scheduler:repo_detail' workflow.repository.id %}">{{ workflow.repository }}</a></td>
                        <td>{{ workflow.cwl_path }}</td>
                        <td>{{ workflow.moment }}</td>
                        <td>{{ workflow.get_state_display }}</td>
                        <td>
                            <a href="{% url 'scheduler:workflow_delete' workflow.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                            <a href="{% url 'scheduler:workflow_restart' workflow.id %}"><button type="button" class="btn btn-success btn-sm">Restart</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Workflows.
    {% endif %}

{% endblock %}
