{% extends "base.html" %}

{% block content %}
    <h2>Load job file</h2>

    <a href="{% url 'scheduler:workflow_parse' repo.id cwl_path|urlencode:"" %}">
        <button type="button" class="btn btn-secondary">No job file</button>
    </a>


    {% for job, content in jobs.items %}

        <h3>{{ job }}</h3>


        <p>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                    data-target="#collapse{{ forloop.counter }}"
                    aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                Show details
            </button>

            <a href="{% url 'scheduler:workflow_parse' repo.id cwl_path|urlencode:"" %}?job={{ job }}">
                <button type="button" class="btn btn-secondary">Select this job file</button>
            </a>
        </p>


        <div class="collapse" id="collapse{{ forloop.counter }}">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    {% for key, value in content.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    {% empty %}
        <h3>No job files in repository</h3>

    {% endfor %}
{% endblock %}