{% extends "base.html" %}

{% block content %}
    <h2>Workflows</h2>

      {% if workflow_list %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <th scope="col">id</th>
                <th scope="col">actions</th>
                </thead>
                <tbody>
                {% for workflow in workflow_list %}
                    <tr>

                        <td><a href="{% url 'scheduler:workflow_detail' workflow.id %}">{{ workflow }}</a></td>
                        <td><a href="{% url 'scheduler:workflow_delete' workflow.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a></td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Workflows.
    {% endif %}

{% endblock %}
